<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.tjluoma.DownloadADailyPodcast</string>
	<key>Program</key>
	<string>/usr/local/bin/download-daily-podcast.sh</string>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/com.tjluoma.download-daily-podcast.errors.log</string>
	<key>StandardOutPath</key>
	<string>/tmp/com.tjluoma.download-daily-podcast.output.log</string>
	<key>StartInterval</key>
	<integer>86400</integer>
</dict>
</plist>
